body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(146, 180, 247);
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  color: #28066c;
}

h2 {
  text-align: center;
  color: #35215b;
}

